# =====================
# DOMAIN
# =====================
DOMAIN=localhost

# =====================
# WEB PORTS
# =====================
HTTP_PORT=80
HTTPS_PORT=443

# =====================
# DATABASES
# =====================
CHIRPSTACK_DB_USER=chirpstack
CHIRPSTACK_DB_PASSWORD=1234

DEVICE_DB_HOST=device-db
DEVICE_DB_PORT=5432
DEVICE_DB_USER=device
DEVICE_DB_PASSWORD=1234
DEVICE_DB_NAME=collection
DEVICE_DB_SSLMODE=disable

COLLECTION_DB_HOST=collection-db
COLLECTION_DB_PORT=5432
COLLECTION_DB_USER=collection
COLLECTION_DB_PASSWORD=1234
COLLECTION_DB_NAME=collection
COLLECTION_DB_SSLMODE=disable

# =====================
# MQTT
# =====================
MQTT_PORT=1883 # open port
MQTT_USERNAME=collection
MQTT_BROKER_PASSWORD=collection
MQTT_BROKER_TOPIC=application/+/device/+/event/up
MQTT_BROKER_URL=tcp://mosquitto:1883

# =====================
# SERVICE URLS (used by api-gateway)
# =====================
COLLECTION_SERVICE=http://collection-service:8080
DEVICE_SERVICE=http://device-service:8080

# =====================
# APP CONFIG
# =====================
GO_ENV=production
