# =====================
# DOMAIN
# =====================
DOMAIN=

# =====================
# WEB PORTS
# =====================
HTTP_PORT=
HTTPS_PORT=

# =====================
# DATABASES
# =====================
CHIRPSTACK_DB_USER=
CHIRPSTACK_DB_PASSWORD=

DEVICE_DB_USER=
DEVICE_DB_PASSWORD=
DEVICE_DB_NAME=
DEVICE_DB_SSLMODE=

COLLECTION_DB_USER=
COLLECTION_DB_PASSWORD=
COLLECTION_DB_NAME=
COLLECTION_DB_SSLMODE=

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=
AUTH_DB_SSLMODE=

# =====================
# MQTT
# =====================
MQTT_PORT=      # open port
MQTT_USERNAME=
MQTT_BROKER_PASSWORD=
MQTT_BROKER_TOPIC=application/+/device/+/event/up
MQTT_BROKER_URL=tcp://mosquitto:1883

# =====================
# SERVICE URLS (used by api-gateway)
# =====================
COLLECTION_SERVICE=http://collection-service:8080
DEVICE_SERVICE=http://device-service:8080

# =====================
# APP CONFIG
# =====================
GO_ENV=production
GO_ENV_AUTH=development # for seeded users
