# =====================
# Monitor config
# =====================
MONITOR_ERP_HOST=
MONITOR_ERP_PORT=
MONITOR_ERP_COMPANY_NUMBER=
MONITOR_ERP_USERNAME=
MONITOR_ERP_PASSWORD=

# =====================
# ERP Agent service config
# =====================
GO_ENV=           # production / development
PORT=             # defaults to 8080
JWT_TOKEN=        # Extracted from website
POLLING_INTERVAL= # How often it does polling
CYCLE_TIMEOUT=    # context timeout for each cycle
MAX_BACKOFF_TIME= # The max backoff time for the worker
ERP_SERVICE=      # erp service url
